@mixin H2Headings {
	
	h2 {
	font-family: $font-Roboto-Slab;
	font-size: $MainTitles;
	color: $DarkGrey;
	}

	h3 {
	font-family: $font-Lato;
	font-size: $SubTitles;
	font-weight: 300;
	position: relative;
	top: -1.2em;

		span {
			color: darken($LightGrey, 35%);
		}
	}
}


/* Mixin */
@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}


//Notifications Circle 
%NotifyCircles {
	width: 24px;
	height: 24px;
	border-radius: 100%;
	background-color: $LimeGreen;
	float: right;
	z-index: 2;
	border: 3px solid lighten($DarkPurple, 10%);
	@include vertical-align;

}