@mixin H2Headings {
	
	h2 {
	font-family: $font-Roboto-Slab;
	font-size: $MainTitles;
	color: $DarkGrey;
	}

	h3 {
	font-family: $font-Lato;
	font-size: $SubTitles;
	font-weight: 300;
	position: relative;
	top: -1.2em;

		span {
			color: darken($LightGrey, 35%);
		}
	}
}


/* Mixin */
@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}