//Begins :: Circle Ico & Subheading Titles Set
%CircleIco {
	background-color: $DarkPurple;
	box-shadow: 7px 5px 0px 0px rgba(0,0,0,0.11);
	border-radius: 100%;
	height: em(128);
	width: em(128);
	display: block;
	
		svg {
			fill: #fff;
			width: em(80);
			height: em(80);
			display: block;
			margin: 0 auto;	
			}
}		

%CircleTxt {
			p {
		text-align: center;
		padding-top: 0.5em;
		font-weight: 300;

			span {
			font-weight: 600;
			}
		}
}
//Ends :: Circle Ico & Subheading Titles Set

//SearchBox 
form.search-bar {  
  ///////////////////////////////////////////////////////////////////////////////////
  $base-border-color: gainsboro !default;
  $base-border-radius: 3px !default;
  $base-line-height: 1.5em !default;
  $action-color: #477DCA !default;
  $dark-gray: #333 !default;
  //////////////////////////////////////////////////////////////////////////////////

  $search-bar-border-color: $base-border-color;
  $search-bar-border: 1px solid $search-bar-border-color;
  $search-bar-background: lighten($search-bar-border-color, 10%);
  position: relative;

  input[type=search] {
    @include appearance(none);
    @include box-sizing(border-box);
    @include transition(border-color);
    background-color: white;
    border-radius: $base-border-radius;
    border-radius: $base-border-radius;
    border: 1px solid $base-border-color;
    display: block;
    font-size: 1em;
    font-style: italic;
    margin: 0;
    padding: ($base-spacing / 3) ($base-spacing / 3);
    position: relative;
    width: 100%;
    height: 55px;
    background: #FFFFFF;
	box-shadow: inset 3px 4px 0px 0px rgba(0,0,0,0.09);
	border-radius: 7px;
  }

  button[type=submit] {
    @include button(flat, $action-color);
    @include position(absolute, 0em 0em 0em null);
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    outline: none;
    padding: 5px 10px;
	background: #58426F;
	border-radius: 6px;
	font-weight: 300;
	height: 55px;

	


  }
}
//Ends SearchBox