.icon {
	display: inline-block;
	background-repeat: no-repeat;
	background-image: url(../../images/svg/sprite.svg);
}
.icon-complaints {
	width: 32px;
	height: 32px;
	background-position: 0 0;
	position: relative;
	left: -15px;
	top: 7px;
}
.icon-dashboard {
	width: 32px;
	height: 32px;
	background-position: -48px 0;
	position: relative;
	left: -15px;
	top: 7px;

}
.icon-payments {
	width: 32px;
	height: 32px;
	background-position: -96px 0;
	position: relative;
	left: -15px;
	top: 7px;
}
.icon-properties {
	width: 32px;
	height: 32px;
	background-position: -144px 0;
	position: relative;
	left: -15px;
	top: 7px;
}
.icon-requests {
	width: 32px;
	height: 32px;
	background-position: -192px 0;
	position: relative;
	left: -15px;
	top: 7px;
}
.icon-support {
	width: 32px;
	height: 32px;
	background-position: -240px 0;
	position: relative;
	left: -15px;
	top: 7px;
}
.icon-tenants {
	width: 32px;
	height: 32px;
	background-position: -288px 0;
	position: relative;
	left: -15px;
	top: 7px;
}

svg {
	fill: #4A4A4A;
}

a:hover svg {
	fill: #fff;
}

