
.icon-complaints {
	width: 26px;
	height: 26px;
	background-position: 0 0;
	position: relative;
	left: -25px;
	top: 7px;
}
.icon-dashboard {
	width: 26px;
	height: 26px;
	background-position: -48px 0;
	position: relative;
	left: -25px;
	top: 7px;

}
.icon-payments {
	width: 26px;
	height: 26px;
	background-position: -96px 0;
	position: relative;
	left: -25px;
	top: 7px;
}
.icon-properties {
	width: 26px;
	height: 26px;
	background-position: -144px 0;
	position: relative;
	left: -25px;
	top: 7px;
}
.icon-requests {
	width: 26px;
	height: 26px;
	background-position: -192px 0;
	position: relative;
	left: -25px;
	top: 7px;
}
.icon-support {
	width: 26px;
	height: 26px;
	background-position: -240px 0;
	position: relative;
	left: -25px;
	top: 7px;
}
.icon-tenants {
	width: 26px;
	height: 26px;
	background-position: -288px 0;
	position: relative;
	left: -20px;
	top: 7px;
}

svg {
	fill: #4A4A4A;
}

a:hover svg {
	fill: #fff;
}

